@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


.miama-regular {
    font-family: 'Miama', sans-serif;
}

body {
    background: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;

}

/* .................... shared styles ................... */
* {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0px auto;

}

.margin-bottom {
    margin-bottom: 6rem;

}

.section-title {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: .5rem;
}

.section-description {
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    /* line-height: rem; */
}

.basic-title {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
}

/* ............................ header section styles .......................  */
.header {
    background: linear-gradient(90deg, rgb(17, 17, 17), rgba(19, 19, 19, 0.8) 100%);
    margin-bottom: 6rem;
}

.gym-moto {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 600;
}

.nav-option>li {
    list-style: none;
}

.nav-bar>ul>li>a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.navbar-container {
    padding-top: 4rem;
}

.navbar-container,
.nav-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-option {
    width: 460px;
}

.home-option {
    background-color: rgb(230, 83, 60);
    padding: .4rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    padding: .8rem 1.8rem;
    border-radius: 3rem;
    font-weight: 600;
    width: 170px;
    gap: 8px;
}

.btn-secondary {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: .8rem 1.8rem;
    border-radius: 3rem;
    font-weight: 600;
    border: 1px solid rgb(255, 255, 255);

}

/* ...................... banner styles ......................  */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-body-info {
    width: 520px;
}

.get-body-info h1 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.get-body-info p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 1.6rem 0;
    line-height: 1.5rem;
}

.get-body-image {
    position: relative;
}

/* ........box-info ........*/

.img-box-1 {
    border-radius: 8px;
    width: 200px;
    height: 90px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 70%;
}

.img-box-2 {
    border-radius: 8px;
    width: 200px;
    height: 90px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 60%;
}

.solid-circle {
    background-color: rgb(230, 83, 60);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: relative;
}

.fa-play {
    position: absolute;
    bottom: 25%;
    left: 35%;

}

.box-1-info {
    margin: 0 .8rem;
}

.box-1-info h6 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 700;
}

.box-2-info h6 {
    color: rgb(250, 250, 249);
    font-size: 1.9rem;
    font-weight: 700;
}

.box-1-info p,
.box-2-info p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

/* ....................... change your habit styles start .........................  */

.change-your-habit {
    margin-bottom: 6rem;
}

.basic-content {
    margin: 0px auto;
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-content p {
    line-height: 1.5rem;
}

.habit-content h3 {
    margin-bottom: 1rem;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.5rem;
    margin-left: 5rem;
}

.habit-card-img {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 180px;
}

.habit-card-img img {
    height: 100%;
    width: 70%;
    border-radius: 50%;
}

.habit-description {
    width: 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: .8rem;
}

.habit-description p {
    text-align: center;
}

.habit-description h6 {
    margin: 5px 0;
}

/*  ............................ run extra mile style starts ...........................  */

.extra-mile-section {
    height: 400px;
    border-radius: .8rem;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-bottom: 6rem;
}

.text-content {
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
    padding: 1rem .6rem;
}

.text-content h3 {
    margin-top: .6rem;
    margin-bottom: 0;
}

.text-content p {
    text-align: left;
    line-height: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.extra-mile-image {
    background-image: url("../images/run.jpg");
    background-position: 68% 30%;
    height: 350px;
    width: 370px;
    margin-top: 1.6rem;
    border-radius: .8rem;
}

/* .................................. BMI Calculator styles starts .................................  */
.bmi-container {
    margin-bottom: 6rem;
}

.bmi-content-info {
    width: 671px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.bmi-content-info p {
    line-height: 1.5rem;
}

.bmi-content-info h3 {
    margin-bottom: .8rem;
}

/* bmi calculator chart  */
.h4title {
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem 0 .5rem 0;
    color: rgb(255, 255, 255);
}

.content-container {
    background: rgb(34, 34, 34);
}

.bmi-calculator {
    /* height: 420px; */
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
    padding: 2rem 0rem;
}

.bmi-cal-chart {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

th,
td {
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    padding: .8rem;
}

th {
    color: rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    margin-top: 20px;

}

/* calculate your bmi  */
.cal-your-bmi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cal-your-bmi h4 {
    margin-left: 38px;
}

.cal-your-bmi p {
    width: 450px;
    margin-left: 38px;
    line-height: 1.5rem;
}

input {
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);

}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

select {
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

.row-1,
.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
}

.row-1,
.row-2,
.row-3 {
    margin: 20px;
}

.bmi-btn {
    margin-left: 2rem;
}

/* ................................ meet the team styles ....................................  */

.meet-team {
    margin-bottom: 6rem;
}

.meet-p {
    width: 570px;
}

.team-members {
    background: rgba(255, 255, 255, 0.1);
    border-radius: .8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2.8rem;
    padding: 1rem;
}

.team-member1 {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/trainer1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

.team-member2 {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/trainer2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

.team-member3 {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/trainer3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

.team-member4 {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/trainer4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

.team-member5 {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/trainer5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

.team-member6 {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/trainer6.png');
    background-position: top-center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

.member {
    position: relative;
    height: 350px;
    width: 100%;
}

.img-content {
    position: absolute;
    bottom: 25px;
    left: 40px;
}

.img-content p {
    color: rgba(255, 255, 255, 0.5);
}

/*  ................................... footer section ..................................  */

footer {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1.5rem;
    padding: 3rem;
}

.fitness-content p {
    line-height: 1.5rem;
}

.gym-moto h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.footer-des {
    width: 400px;
}

.get-started h5 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    margin: .5rem 0 .8rem 0;
}

.get-started li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
}

.get-started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer>hr {
    color: rgba(255, 255, 255, 0.5);

}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    text-align: center;
    padding: 2rem;
}

hr {
    border: 1px solid grey;
    background-color: grey;
    margin: 0 auto;
    margin-top: 1rem;
}

.ham-burger {
    display: none;
}

/*  ........................................... responsive ............................................. */
@media screen and (max-width:576px) {

    .header,
    .change-your-habit,
    .extra-mile-section,
    .bmi-container,
    .meet-team {
        margin-bottom: 1.5rem;
    }

    /* ...................... banner .......................  */
    .navbar-container {
        margin-bottom: 2rem;
    }

    .nav-option {
        display: none;
    }

    .ham-burger {
        display: block;
    }

    .ham-burger i {
        font-size: 1.5rem;
    }

    .banner {
        flex-direction: column;
    }

    .get-body-info {
        margin-left: 1rem;
        justify-content: center;
        text-align: left;
        width: 400px;
    }

    .get-body-info h1 {
        width: 200px;
        font-size: 2rem;
        line-height: normal;
    }

    .get-body-info p {
        width: 300px;
    }

    .img-box-1 {
        bottom: 30%;
        right: 50%;
    }

    .img-box-2 {
        left: 55%;
        width: 180px;
    }

    /* ............................. habit ......................... */

    .basic-content {
        width: 380px;
        justify-content: flex-start;
    }

    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: .8rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .habit-cards {
        grid-template-columns: 1fr;
    }

    .habit-card {
        width: 270px;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .habit-card-img {
        width: 260px;
        height: 190px;
    }

    .habit-description {
        text-align: center;
    }

    /* .......................... extra-mile style ........................  */
    .extra-mile-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 850px;
    }

    .text-content {
        padding: 1rem;
        width: 350px;
    }

    .extra-mile-image {
        height: 330px;
        width: 350px;
        margin-top: 0;
    }

    .extra-mile-image img {
        padding: 1rem;
        margin-left: 1rem;
    }

    .btn-join-now {
        width: 350px;
    }

    /* .................... bmi ...................... */
    .bmi-content-info {
        width: 380px;
        margin-left: 2rem;
        margin-bottom: 0;
    }

    .bmi-content-info p {
        text-align: left;
    }

    .bmi-calculator {
        margin-top: 1rem;
        height: auto;
        flex-direction: column;
    }

    .bmi-cal-chart,
    .cal-your-bmi {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .cal-your-bmi p {
        margin-left: 0;
        width: 380px;
        text-align: left;
    }

    .cal-your-bmi h4 {
        margin-left: 0;
    }

    .h4title {
        margin: 1rem 0 .5rem 0;
        font-size: 1.4rem;
        font-weight: 700;
    }

    .row-1,
    .row-2,
    .row-3 {
        margin-left: 0;
        text-align: start;
    }

    input {
        margin-left: 0;
        width: 100px;
        height: 35px;
        padding: .5rem;
    }

    select {
        height: 50px;
        padding: .5rem;
        margin-left: 0;
    }

    .bmi-btn {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    /* ................... meet the team .................... */

    .meet-p {
        width: 380px;
    }

    .team-members {
        grid-template-columns: 1fr;
    }

    /*.................. footer .................. */

    .footer {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .fitness-content p {
        text-align: left;
    }

    .get-started {
        width: 300px;
        align-items: flex-start;
    }

    .copy-right {
        text-align: left;
        padding: 1rem 0;
    }
}

/* ................................................. The End ........................................... */